.search-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.search-section > div {
  min-width: 200px;
}

.search-vehicle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
