.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 0, 0, 0.050391103707107865) 100%
  );
}

.home-average-card {
  margin: 2rem;
}

.home-input {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-month-input {
  margin: 2rem;
}

.home-search {
  margin: 2rem;
}
